@CHARSET "ISO-8859-1";
.header{
	text-align: center;
	color : #33d150;
	margin-top:0;
}
.form2{
	position: absolute;
    top: 22%;
    left: 40%;
    height: 420px;
    width:300px;
    padding-left : 20px ;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow:5px 7px #11b030;
    background-color:white;
}
.button{
	position: relative;
	padding : 12px 14px;
	top: 6px;
	left: 27%;
	border : none;
	background-color: #33d150;
	color : white;
}
.button:hover{
	opacity: 0.7;
}
